<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Workouts</title>
    <link rel="stylesheet" href="style.css">
  </head>
    <body>
    <h1>My Workouts</h1>
        <table class="main-table">
            <thead>
                <tr>
                    <th class="table-head">Workout Name</th>
                    <th class="table-head">Workout Date</th>
                    <th class="table-head">Exercises</th>
                    <th class="table-head">Sets</th>
                </tr>
            </thead>
            <tbody>
            {% for workout in workouts.all%}
                {% if workout.exercises.exists %}
                    {% for exercise in workout.exercises.all%}
                    <tr>
                        {% if forloop.first %}
                            <td rowspan="{{ workout.exercises.count }}" contenteditable="true">{{ workout.name }}</td>
                            <td rowspan="{{ workout.exercises.count }}" contenteditable="true">{{ workout.date }}</td>
                        {% endif %}
                        <td>{{ exercise.name }}</td>
                        <td>
                            {% if exercise.sets.exists %}
                                {% for set in exercise.sets.all %}
                                    set {{ forloop.counter }}: {{ set.weight }} x {{ set.reps }}<br>
                                {% endfor %}
                            {% else %}
                                No sets yet
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>